* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    color: white;
    background: #1f1f23;
    overflow: auto;
}

.main {
    min-height: 100vh;
}

.topnav {
    overflow: hidden;
    background-color: #292d38;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #4b5470;
    color: white;
}
  
.topnav a.active {
    background-color: #515369;
    color: white;
}
  
.topnav .icon {
    display: none;
}

.container {
    padding: 10px;
}

.profile {
    padding-top: 5em;
    text-align: center;
    font-size: 20px;
}

.profile-text {
    padding: 1em;
}

.pfp {
    border-style: solid;
    border-radius: 100%;
    border-width: 0.5em;
}

.about-int {
    font-weight: bold;
    font-size: 22px;
}

.about {
    padding-top: 10em;
    font-size: 20px;
    text-align: center;
    min-height: 100vh;
}

.soft-int {
    padding-top: 5em;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.services {
    padding-top: 10em;
    font-size: 20px;
    text-align: center;
    min-height: 100vh;
}

.services-list {
    padding-top: .5em;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

.services-type {
    padding-top: .5em;
}

.services-type-gig {
    padding-top: .8em;
}

.services-type > svg {
    padding-top: 0.25em;
}

.soft {
    padding-top: .5em;
    display: inline-grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.soft-type {
    padding-top: .5em;
}

.soft-type > svg {
    padding-top: 0.25em;
}

.contact-txt {
    padding-top: 10em;
    text-align: center;
}

.cont-inf-txt {
    font-size: 18px;
    font-weight: bold;
}

.projects{
    padding-top: 10em;
    font-size: 20px;
    text-align: center;
    min-height: 100vh;
}

.projects-txt {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.projects-list {
    padding-top: .5em;
    display: inline-grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
}

a, a:visited {
    color: #fefefe;
}

.links {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.links > div {
    padding-left: 2em;
    padding-right: 2em;
}

.site-link > p {
    font-size: 20px;
}

.site-link > a {
    color: #bababa;
}

.link-hov:hover {
    color: white;
    transform: scale(1.2, 1.2)
}

#bdcolor {
    border-color: #35353b;
}

@media screen and (max-width: 600px) {
    .footer {
        padding-bottom: 2em;
    }

    .tech {
        padding-top: 15em;
        text-align: center;
        font-size: 20px;
    }

    .about {
        padding-top: 1em;
        font-size: 18px;
        padding-bottom: 2em;
    }

    .profile {
        padding-top: inherit;
        width: fit-content;
    }

    .links {
        padding-top: 2em;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .soft {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .container {
        padding: 10px;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.footer {
    align-items: center;
    background: #292d38;
    display: flex;
    height: 4.5em;
    justify-content: center;
    margin-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.footer > p {
    font-size: 14px;
}

a, a:visited {
    color: #fefefe;
}